*{ 
margin-top: 0%;
padding: 0%;
margin-bottom: 0%;
margin-left:0%;
margin-right:0%;

}

html {
	font-size: 50px;
    font-family: ariel;

}

section {
	width: 210vh ;
	height: 210vh;
	color: #fff;
	background: linear-gradient(-45deg, #FDA1A1, #FDCEA1, #F3FA86, #A8FA86, #86FAD5, #86C5FA, #EF86FA, #FA86A4);
	background-size: 400% 400%;
	position: relative;
	animation: change 10s ease-in-out infinte ;
	
	
}

h1{
	font-size: 40res;
	text-transform: uppercase;
	letter-spacing: 2px;
	border:3px solid #fff;
	
}

@keyframes change {
	0% { background-position: 0% 50% ;
	} 
    50% { background-position: 100% 50%;
         }
    100% { background-position: 0% 50% ;
          }
}